<div class="container">
  <img src="http://www.cs.umd.edu/Outreach/hsContest13/icons/TurtleCS.jpg" class="logo" />
  <div class="row">
      <div class = "four columns">
          <div>
              <h1>UMD CS Grade Notifier</h1>
          </div>
          <form method="POST">
              <div>
                  {{#if email}}
                  <input type="text" name="email" id="email" placeholder="email" value="{{email}}" autofocus>
                  {{else}}
                  <input type="text" name="email" id="email" placeholder="email" autofocus>
                  {{/if}}
              </div>
              <div>
                  <input type="password" name="password" id="password" placeholder="password">
              </div>
              <div>
                  <button style="width: 40%" type="submit">Log In</button>
              </div>
          </form>
          <form action="/signup">
              <div>
                  <button style="width: 40%" type="submit">Sign Up</button>
              </div>
              <a href="/forgotPass">Forgot password?</a>
          </form>
          <div>
              {{#if messages.success}}
                <div class="text-success">
                  {{#each messages.success}}
                    <div>{{msg}}</div>
                  {{/each}}
                </div>
              {{/if}}
              {{#if messages.error}}
                <div class="text-danger">
                  {{#each messages.error}}
                    <div>{{msg}}</div>
                  {{/each}}
                </div>
              {{/if}}
          </div>
      </div>
      <div class = "eight columns">
        Welcome to the UMD Computer Science Grade Checker. If you do not
        already have an account, you can click the signup button below. If
        any of your UMD credentials have changed since the last time you
        logged in, please make sure you update them.
      </div>
  </div>
</div>
