<div class="container">
  <img src="http://www.cs.umd.edu/Outreach/hsContest13/icons/TurtleCS.jpg" class="logo" />
  <div class="row">
      <h1>UMD CS Grade Notifier</h1>
  </div>
  <form method="POST">
      <div class="row">
          <div class="three columns">
              {{#if email}}
              <input type="text" name="email" id="email" placeholder="email" value="{{email}}" autofocus>
              {{else}}
              <input type="text" name="email" id="email" placeholder="email" autofocus>
              {{/if}}
          </div>
      </div>
      <div class="row">
          <div class="three columns">
              <input type="password" name="password" id="password" placeholder="password">
          </div>
          <div class="nine columns">
              {{#if messages.success}}
                <div class="text-success">
                  {{#each messages.success}}
                    <div>{{msg}}</div>
                  {{/each}}
                </div>
              {{/if}}
              {{#if messages.error}}
                <div class="text-danger">
                  {{#each messages.error}}
                    <div>{{msg}}</div>
                  {{/each}}
                </div>
              {{/if}}
          </div>
      </div>
    <div class="row">
        <div class="two columns">
            <button type="submit">login</button>
            <div>
                <a href="/forgotPass">Forgot password?</a>
            </div>
        </div>
    </div>
  </form>
</div>
